@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.filter-checkbox,
.filter-checkbox-mobile {
  appearance: none;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
  border: 1px solid #d0d5dd;
}

.filter-checkbox:checked {
  background-color: #000;
}

.filter-checkbox:checked + .show-tick-icon,
.filter-checkbox-mobile:checked + .show-tick-icon {
  display: block;
}

.filter-checkbox-mobile:checked {
  border: 1px solid #7f56d9;
  background-color: #fff;
}
