.active-searchbar {
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  width: 24rem;
  margin-right: 1.75rem;
}

.heading-position-mobile {
  transform: translate(3rem, 6rem);
}

.heading-position {
  transform: translate(55%, 75%);
}

.landing-img {
  transform: translate(-10%, -70%);
}

.landing-img-mobile {
  width: 75%;
  transform: translate(-4rem, 65%);
}

.input-checkbox,
.answer-checkbox {
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
}

.input-checkbox:checked {
  background-color: #000;
}

.input-checkbox:checked + .show-tick-icon,
.answer-checkbox:checked + .show-tick-icon {
  display: block;
}

.answer-checkbox:checked {
  background-color: #4b69fd;
}
